
/* General CSS applied to the body*/

@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Roboto');



*{

	margin: 0px;
	padding:0px;
} 

header{

	font-family:'Roboto', sans-serif;;
	border-style: solid;
	background-image: url("../images/hero_image.jpg");
	background-size: cover;
	min-width:100%;
	color: #fff;


}

nav{

	background: #d3d3d3;
	text-decoration: none;

	
}

nav a{

	color: #ffffff;
	text-size: 50px;
}

a{

	color: inherit;
	text-decoration: #d3d3d3;
}

ul {
    
    list-style-type: none;
}

main{

	font-family: 'Droid Serif', serif;
	color: #d3d3d3;
	font-family: helvetica;
	text-decoration: none;
	font-size: 18px;
    list-style-type: none;

}

h1 h2{
	text-align: center;
	font-size: 130px;
	padding: 30px;
}
 
hr{

 	border-width: 1.5px;
 	border-color: #fff;
 	text-align: center;
 	width: 100%;
 }

/*aside{

	float: right;



} */

footer a{

	text-decoration: none;
	color: #000;
	padding:40px;
	margin:30px 0;
	display: block;

}


footer{

	background: #d3d3d3;
	color: #fff;
	display: block;
	padding: 50px;
}


div{

	display:block;
	padding: 30px;
}

#wrapper {

  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
}

}
  
#slogan {
	text-align: center;
	font-size:25px;
    font-style: italic;
	padding: 30px;


    
} 
/* main offerings section*/
#outdoor_fitness {
	display: block;
	float: left;
	margin: 30px 10px;
	padding: 30px;

}

#night_life{
	display: block;
	float:left;
	margin: 30px 10px;
	padding: 30px;

}

#culture{
	display: block;
	float:left;
	margin: 30px 10px;
	padding: 30px;

	
}

#food{
	display: block;
	float:left;
	margin: 30px 10px;
	padding: 30px;

}
