
/* General CSS applied to the body*/
*{

	margin: 0px;
	padding:0px;
}

header{

	
	border-style: solid;
	background-image: url("../images/hero_image.jpg");
	background-size: cover;
	min-width:100%;
	color: #fff;


}

nav{

	background: #d3d3d3;
	text-decoration: none;

	
}
nav a{

	color: #ffffff;
	text-size: 50px;
}
a{

	color: inherit;
	text-decoration: #d3d3d3;
}

ul {
    
    list-style-type: none;
}

main{
	
	color: #000;
	font-family: helvetica;
	text-decoration: none;
	font-size: 18px;
    list-style-type: none;

}
  
#slogan {
	text-align: center;
	font-size:25px;
    font-style: italic;
    
} 



h1{
	text-align: center;
	font-size: 130px;
}
 
hr{

 	border-width: 1.5px;
 	border-color: #fff;
 	text-align: center;
 	width: 500px;
 }

footer a{

	text-decoration: none;
	color: #fff;
}


footer{

	background: #d3d3d3;
	color: #fff;
}
