
/* General CSS applied to the body*/
header{

	
	border-style: solid;
	background-image: url("../images/hero_image.jpg");
	background-size: cover;
	color: #fff;


}

nav{

	background: #d3d3d3;
	text-decoration: none;
}

main{
	
	color: #000;
	font-family: helvetica;
	text-decoration: none;
	font-size: 18px;

}
  
#slogan {
	text-align: center;
	font-size:25px;
    font-style: italic;
    
} 

h1{
	text-align: center;
	font-size: 130px;
}
 
hr{

 	border-width: 1.5px;
 	border-color: #fff;
 	text-align: center;
 	width: 500px;
 }


footer{

	background: #d3d3d3;
}
